.App {
    display: flex;
}

.block {
    border: 1px solid;
}

.block img {
    width: 300px;
    height: 300px;
}

.name {
    font-size: 50px;
    text-align: center;
}

.result {
    font-size: 80px;
    text-align: center;
}